body {
    background-color: lightyellow;
    font-family: 'Baloo Tamma', Arial, Helvetica, sans-serif;
}

.btn-sm {
    margin-left: 10px;
}

img {
    margin-top: 10px;
}

#burger-form input:invalid {
    border-left-color: red;
  }